<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">About</h5>
                <p class="grey-text text-lighten-4">Connect instantly with friends and families. Share thoughts, likes and comments in real time.</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Connect</h5>
                    <div class="col l3">
                       <a class="grey-text text-lighten-3 btn-floating btn-large blue lighten-1" href="#!"><i class="fa fa-twitter fa-2x"></i> Twitter</a>
                    </div>
                    <div class="col l3">
                       <a class="grey-text text-lighten-3 btn-floating btn-large red lighten-1" href="#!"><i class="fa fa-google-plus fa-2x"></i></a>
                    </div>
                    <div class="col l3">
                       <a class="grey-text text-lighten-3 btn-floating btn-large blue darken-2" href="#!"><i class="fa fa-facebook fa-2x"></i></a>
                    </div>
                    <div class="col l3">
                       <a class="grey-text text-lighten-3 btn-floating btn-large blue-grey darken-1" href="#!"><i class="fa fa-github fa-2x"></i></a>
                    </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            &copy; 2015 All rights reserved
            <a class="grey-text text-lighten-4 right" href="#!">Terms and conditions</a>
        </div>
    </div>
</footer>
