<div class="section grey lighten-5">
    <div class="container">
        <div class="row">
            <div class="col l8 offset-l1">
                <h3 class="grey-text text-darken-1">Welcome to discuss.me</h3>
                <p class="flow-text grey-text">Connect, share with friends, collegues real time. Any where, everywhere!</p>
            </div>
        </div>
        <div class="row">
            <div class="col offset-l1">
                <button class="btn waves waves-effect btn-large red lighten-1 btn-raised red-text text-lighten-5">JOIN THE CONVERSATION</button>
            </div> 
        </div>
    </div>
<!--<div class="section grey lighten-5">-->
    <div class="container">
        <div class="row">
            <div class="col l4">
                <div class="icon-block">
                        <h2 class="center red-text text-lighten-1">
                            <i class="fa fa-share-alt"></i>
                        </h2>
                        <h5 class="center grey-text text-darken-1">Sharing is fun</h5>
                        <p class="light">We care your thoughts. Thereby providing you a platform to speak out whatever you feel.
                        Get opininated.</p>
                </div>
            </div>
            <div class="col l4 offset-l0">
                <div class="icon-block">
                        <h2 class="center red-text text-lighten-1">
                            <i class="fa fa-users"></i>
                        </h2>
                        <h5 class="center grey-text text-darken-1">Platform for everyone</h5>
                        <p class="light">We care your thoughts. Thereby providing you a platform to speak out whatever you feel.
                        Get opininated.</p>
                </div>
            </div>
            <div class="col l4 offset-l0">
                <div class="icon-block">
                        <h2 class="center red-text text-lighten-1">
                            <i class="fa fa-heart"></i>
                        </h2>
                        <h5 class="center grey-text text-darken-1">It's absolutely free</h5>
                        <p class="light">Open sourced and always will be free. GNU Public licensed</p>
                </div>
            </div>
        </div>
    </div>
</div>
    <!--</div>-->
